.mainFream {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
  margin-bottom: 5%;

}

.button,
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnButton {
  margin-top: 25px;
  width: 100%;
  border: none;
  border-radius: 50px;
  height: 40px;
  color: white;
}
.borderlg{
  border-radius: 10px;
}